{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Setup brew autoupdate (daily upgrade + cleanup)
if command -v brew &> /dev/null; then
    if ! brew tap | grep -q "homebrew/autoupdate"; then
        printf '\n\e[34mInstalling homebrew/autoupdate tap...\e[0m\n'
        brew tap homebrew/autoupdate
    fi

    if ! brew autoupdate status | grep -q "running"; then
        printf '\n\e[34mSetting up brew autoupdate (every 24h)...\e[0m\n'
        brew autoupdate start 86400 --upgrade --cleanup
    else
        printf '\n\e[32mBrew autoupdate already running.\e[0m\n'
    fi
fi

{{ end -}}
